*
    padding: 0
    margin: 0
    box-sizing: border-box
    border: none
    outline: none

:root
    --white: #FFFFFF
    --red-action: #C41810
    --red: #E2231A
    --black: #333E48
    --bg: #F8F8F8
    --grey: #999999
    --stroke: #3A4752
    --darkened-black: #394550
    --light-black: #96A3B0
    --disabled: #DADADA
    --bg-error: #FFDEDC
    --white-stroke: #E4E4E4
    --h-gap: 30px

$alfa: rgba(0,0,0,0)
$white: var(--white)
$red-action: var(--red-action)
$red: var(--red)
$black: var(--black)
$bg: var(--bg)
$grey: var(--grey)
$stroke: var(--stroke)
$darkened-black: var(--darkened-black)
$light-black: var(--light-black)
$disabled: var(--disabled)
$bg-error: var(--bg-error)
$white-stroke: var(--white-stroke)
$h-gap: var(--h-gap)

body, html
    font-family: 'Lato', sans-serif
    font-style: normal
    font-size: 16px
    line-height: 20px
    font-weight: 500
    font-optical-sizing: auto

body
    min-height: 100vh
    color: $black
    background-color: $bg
    position: relative
    z-index: 1
    &.is_active
        overflow: hidden

.container
    max-width: 1400px
    width: 100%
    margin: 0 auto
    padding: 0 20px

img
    display: block
    max-width: 100%

h1, .h1
    font-weight: 800
    font-size: 36px
    line-height: 45px
    margin: 0 0 $h-gap

h2, .h2
    font-weight: 800
    font-size: 32px
    line-height: 40px
    margin: 0 0 $h-gap

h3, .h3
    font-weight: 800
    font-size: 28px
    line-height: 35px
    margin: 0 0 20px

h4, .h4
    font-weight: 800
    font-size: 24px
    line-height: $h-gap
    letter-spacing: 0%
    margin: 0 0 $h-gap

a,
button
    color: $black
    font-family: inherit
    text-decoration: none
    transition: all ease .3s
    background-color: transparent
    &:hover
        opacity: .8

    &:active
        opacity: 1
        transform: scale(.98)

p
    &:last-child
        margin-bottom: 0 !important

.btn
    display: block
    width: fit-content
    padding: 15px 34px
    font-weight: 700
    text-align: center
    border-radius: 5px
    color: white
    background-color: $red
    gap: 12px

    &:active
        opacity: 1

    &:hover
        opacity: 1
        background-color: $red-action

    &:disabled,
    &.disabled
        pointer-events: none
        cursor: not-allowed
        color: rgba(255, 255, 255, .2)

    &.--sm
        padding: 10px 15px

    &.--light
        background-color: $bg
        color: $black
        &:hover,
        &.is_active
            background-color: $red
            color: $white

        &:disabled,
        &.disabled
            color: $grey
            &.is_active
                color: $red-action

.g
    &-20
        gap: 20px

    &-30
        gap: 30px

[class^=fx-], [class*=" fx-"], body, .fx
        display: flex

.fx-col, body
    flex-direction: column

.fx
    &-ac
        align-items: center

    &-je
        justify-content: flex-end
    &-jc
        justify-content: center

    &-col
        flex-direction: column

    &-w
        flex-wrap: wrap

    &-as
        align-items: flex-start

    &-jb
        justify-content: space-between

    &-ae
        align-items: end

label
    display: block
    font-weight: 700
    margin-bottom: 9px

.bg
    box-shadow: 0px 0px 20px 0px #333E480D
    padding: $h-gap
    border-radius: 15px
    background-color: $white

.c
    &-red
        color: $red
    &-gray
        color: $grey

.link
    font-weight: 700
    border-bottom: 1px solid $red
    color: $red

input
    font-family: inherit
    border: 1px solid $bg
    height: 50px
    width: 100%
    font-weight: 600
    border-radius: 5px
    padding: 0 40px 0 20px
    color: $black
    background-color: $bg
    margin: 0
    &:focus
        border-color: $black

        // &:invalid
        //     border-color: $red-action

    &::placeholder
        color: $grey

.m-0
    margin: 0 !important

.inp
    position: relative
    z-index: 1
    gap: 10px
    margin-bottom: 20px
    &:last-of-type
        margin-bottom: 0

    label
        margin-bottom: 9px
        i
            color: $red

    .ic-cencel
        position: absolute
        right: 20px
        bottom: 15px
        z-index: 11
        --s-width: 20px
        cursor: pointer

        transition: all ease .3s
        opacity: 0
        visibility: hidden

    &:focus-within
        .ic-cencel
            opacity: 1
            visibility: visible

    input
        margin: 0

    &-check
        position: relative
        z-index: 1
        margin-bottom: 31px
        label
            font-weight: 500
            font-size: 12px
            line-height: 15px
            display: block
            position: relative
            text-align: left
            z-index: 1
            padding: 0 0 0 23px
            &::before
                content: ""
                display: inline-block
                position: absolute
                box-sizing: border-box
                left: 0
                top: 0
                width: 15px
                height: 15px
                border: 1px solid $grey

                background-repeat: no-repeat
                background-position: center center
                background-size: 0% auto
                background-image: url('../media/check.svg')

        input
            display: block
            position: absolute
            top: 0
            left: 0
            margin: 0
            opacity: 0
            padding: 0
            min-height: 100%
            width: 100%
            cursor: pointer
            height: 100%
            z-index: 111
            &:checked ~ label::before
                background-size: 75% auto
                border-color: $red-action

mark
    color: $red-action
    background-color: $alfa

.triple
    gap: 20px
    &>*
        width: calc( (100% - 40px )/ 3 )
        margin: 0

ul
    list-style: none
    &:not(.pagination)
        padding-left: 20px
        li
            padding-left: 30px
            position: relative
            z-index: 1
            margin-bottom: 15px
            &:last-child
                margin-bottom: 0
            &::before
                content: ''
                display: block
                width: 12px
                height: 12px
                border-radius: 50%
                background-color: $red
                position: absolute
                left: 4px
                top: 4px

.select
    position: relative
    &-list
        overflow: hidden
        border-radius: 5px
        z-index: 111
        position: absolute
        top: 100%
        margin-top: 10px
        width: 100%
        transition: all ease .3s
        opacity: 0
        visibility: hidden
        transform: translateY(10px)
        &>*
            padding: 10px 20px
            background-color: $bg

    &-selected
        cursor: pointer
        gap: 10px
        padding: 10px
        border-radius: 5px
        border: 1px solid var(--white-stroke, #E4E4E4)
        span
            margin-top: 2px

    &-checked
        gap: 11px
        &>*
            margin: 0

    &__btn
        padding: 15px 20px
        border-radius: 5px
        gap: 20px
        white-space: nowrap
        color: $grey
        background-color: $bg

        &.is_active ~ *
            opacity: 1
            visibility: visible
            transform: translateY(0)

.checkbox
    position: relative
    z-index: 1
    label
        position: relative
        z-index: 1
        font-weight: 400
        font-size: 16px
        display: block
        line-height: 24px
        color: #141414
        padding: 0 0 0 30px
        margin: 0
        &::after
            content: ''
            display: block
            width: 20px
            height: 20px
            border-radius: 5px
            position: absolute
            top: 0
            left: 0
            border: 1px solid $black
            --s-x: 1

    input
        display: block
        position: absolute
        top: 0
        left: 0
        margin: 0
        opacity: 0
        padding: 0
        min-height: 100%
        width: 100%
        cursor: pointer
        height: 100%
        z-index: 111
        &:not(:checked)~ label::after
            background-image: none
        &:checked ~ label::after
            border-color: $red
            background-color: $red

table
    width: 100%
    i, span
        vertical-align: middle

    a
        display: inline-block
        i
            margin: 0
            --s-width: 28px !important

    .fx-ac
        gap: 10px

    tr, th
        text-wrap-style: pretty

    thead
        th
            padding: $h-gap calc( $h-gap / 2 )
            border-bottom: 1px solid var(--white-stroke, #E4E4E4)
            &:first-child
                min-width: 15%
                text-align: left

    tr
        &.heading
            td
                padding: $h-gap 0 calc( $h-gap / 2 )

        &.headline
            td
                button
                    gap: 10px
                    padding: calc( $h-gap / 2 )
                    text-align: left
                &:first-child
                    padding: 0

            &.is_active,
            &:hover
                td
                    background-color: $bg
                    &:first-child
                        border-radius: 5px 0 0 5px
                    &:last-child
                        border-radius: 0 5px 5px 0

        &.content
            &>*
                &:first-child
                    padding: calc( $h-gap / 2 ) 0 calc( $h-gap / 2 ) 0
            &:not(.is_active)
                display: none

    tbody
        td
            font-weight: 500
            text-align: center
            padding: calc( $h-gap / 2 )
            transition: background .3s ease
            &:first-child
                text-align: left

    &.content
        width: calc( 100% - 40px )
        margin: 0 0 0 auto
        td, th
            background-color: $bg
            padding: calc( $h-gap / 2 )
            border: none

        thead
            th
                text-align: center
                padding: 15px 20px 10px
                &:first-child
                    border-radius: 5px 0 0 0
                    text-align: left
                &:last-child
                    text-align: left
                    border-radius: 0 5px 0 0

        tbody
            td
                padding: 5px 20px
                width: calc( (100% - 41%)/4 )
                &:first-child
                    width: 41%
                &:last-child
                    text-align: left

        tfoot th
                    padding: 15px 20px
                    border-radius: 0 0 5px 5px

@media screen and ( max-width: 1720px )
    body, html
        font-size: 14px
        line-height: 16px

    :root
        --h-gap: 22px

    input
        padding: 0 28px 0 14px

    .inp
        .ic-cencel
            right: 14px

    h2
        font-size: 26px
        line-height: $h-gap

    .bg
        border-radius: 12px
