html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background: rgba(0, 0, 0, 0)
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox],
input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

@font-face {
    font-family: "Lato";
    src: local("Lato-Black"), url("../assets/fonts/Lato-Black.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Lato";
    src: local("Lato-Medium"), url("../assets/fonts/Lato-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Lato";
    src: local("Lato-Semibold"), url("../assets/fonts/Lato-Semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Lato";
    src: local("Lato-Bold"), url("../assets/fonts/Lato-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap
}

.checkbox label::after,
[class^=ic-],
[class*=" ic-"] {
    --s-width: 1.25rem;
    --s-x: 0;
    --s-y: 0;
    display: inline-block;
    width: var(--s-width);
    height: var(--s-width);
    background-repeat: no-repeat;
    -webkit-background-size: -webkit-calc(var(--s-width)*6) auto;
    -o-background-size: calc(var(--s-width)*6) auto;
    background-size: calc(var(--s-width)*6) auto;
    background-position-x: -webkit-calc(0px - var(--s-width)*var(--s-x));
    background-position-x: calc(0px - var(--s-width)*var(--s-x));
    background-position-y: -webkit-calc(0px - var(--s-width)*var(--s-y));
    background-position-y: calc(0px - var(--s-width)*var(--s-y));
    background-image: url("../assets/img/sprite.svg")
}

[data-theme=dark] .checkbox label::after,
[data-theme=dark] [class^=ic-],
[data-theme=dark] [class*=" ic-"] {
    background-image: url("../assets/img/sprite-dark.svg")
}

.ic-clients {
    --s-x: 5
}

.ic-clients-2 {
    --s-x: 1;
    --s-y: 3
}

.ic-doc {
    --s-x: 0;
    --s-y: 1
}

.ic-help {
    --s-x: 1;
    --s-y: 1
}

.ic-log-out {
    --s-x: 4;
    --s-y: 1
}

.ic-menu {
    --s-x: 2;
    --s-y: 1
}

.ic-file-search {
    --s-y: 2
}

.ic-settings {
    --s-x: 3;
    --s-y: 1
}

.ic-search {
    --s-x: 5;
    --s-y: 2
}

.ic-calendar {
    --s-y: 2;
    --s-x: 2
}

.ic-bag {
    --s-y: 2;
    --s-x: 1
}

.ic-coins {
    --s-y: 1;
    --s-x: 5
}

.ic-arr-down {
    --s-y: 3
}

.ic-email {
    --s-width: -webkit-calc(28 / 16 * 1rem);
    --s-width: calc(28 / 16 * 1rem);
    --s-x: 4;
    --s-y: 2
}

.ic-pdf {
    --s-width: -webkit-calc(28 / 16 * 1rem);
    --s-width: calc(28 / 16 * 1rem);
    --s-x: 3;
    --s-y: 2
}

.ic-less {
    --s-x: 2
}

.ic-more {
    --s-x: 3
}

.ic-user {
    --s-x: 4
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    outline: none
}

:root {
    --white: #FFFFFF;
    --red-action: #C41810;
    --red: #E2231A;
    --black: #333E48;
    --bg: #F8F8F8;
    --grey: #999999;
    --stroke: #3A4752;
    --darkened-black: #394550;
    --light-black: #96A3B0;
    --disabled: #DADADA;
    --bg-error: #FFDEDC;
    --white-stroke: #E4E4E4;
    --h-gap: 1.875rem
}

:root[data-theme=dark] {
    --white: #1A1A1A;
    --bg: #121212;
    --red-action: #FF6666;
    --red: #FF4D47;
    --black: #E0E0E0;
    --grey: #757575;
    --stroke: #424242;
    --darkened-black: #B0B0B0;
    --light-black: #9E9E9E;
    --disabled: #424242;
    --bg-error: #4A1A1A;
    --white-stroke: #2D2D2D
}

html {
    font-size: 16px;
    line-height: 20px
}

body,
html {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-optical-sizing: auto;
    min-height: 100vh;
    min-width: 1200px
}

body.is_active,
html.is_active {
    overflow: hidden
}

body {
    color: var(--black);
    background-color: var(--bg);
    position: relative;
    z-index: 1
}

body.is_active {
    overflow: hidden
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.25rem
}

img {
    display: block;
    max-width: 100%
}

h1,
.h1 {
    font-weight: 800;
    font-size: 2rem;
    line-height: 2.8125rem;
    margin: 0 0 var(--h-gap)
}

h2,
.h2 {
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 2.8125rem;
    margin: 0 0 var(--h-gap)
}

h3,
.h3 {
    font-weight: 800;
    font-size: 1.75rem;
    line-height: 2.1875rem;
    margin: 0 0 1.25rem
}

h4,
.h4 {
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.875rem
}

a,
button {
    color: var(--black);
    font-size: inherit;
    text-decoration: none;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
    background-color: rgba(0, 0, 0, 0)
}

a:hover,
button:hover {
    opacity: .8
}

a:active,
button:active {
    opacity: 1;
    -webkit-transform: scale(0.98);
    -ms-transform: scale(0.98);
    -o-transform: scale(0.98);
    transform: scale(0.98)
}

.text-center {
    text-align: center
}

p:last-child {
    margin-bottom: 0 !important
}

.btn {
    display: block;
    min-width: 13.75rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: .9375rem 2.125rem .875rem;
    font-weight: 700;
    text-align: center;
    -webkit-border-radius: .3125rem;
    border-radius: .3125rem;
    color: var(--white);
    background-color: var(--red);
    gap: .75rem
}

.btn:active {
    opacity: 1
}

.btn:hover {
    opacity: 1;
    background-color: var(--red-action)
}

.btn:disabled,
.btn.disabled {
    pointer-events: none;
    cursor: not-allowed;
    color: rgba(255, 255, 255, .2)
}

.btn.--sm {
    padding: .625rem .9375rem .5625rem;
    min-width: unset
}

.btn.--light {
    background-color: var(--bg);
    color: var(--black)
}

.btn.--light:hover,
.btn.--light.is_active {
    background-color: var(--red);
    color: var(--white)
}

.btn.--light:disabled,
.btn.--light.disabled {
    color: var(--grey)
}

.btn.--light:disabled.is_active,
.btn.--light.disabled.is_active {
    color: var(--red-action)
}

.g-10 {
    gap: .62rem
}

.g-20 {
    gap: 1.25rem
}

.g-30 {
    gap: 1.875rem
}

[class^=fx-],
[class*=" fx-"],
body,
.fx {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex
}

.fx-col,
body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.fx-ac {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.fx-je {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.fx-jc {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.fx-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.fx-w {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.fx-as {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.fx-jb {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.fx-ae {
    -webkit-box-align: end;
    -webkit-align-items: end;
    -moz-box-align: end;
    -ms-flex-align: end;
    align-items: end
}

label {
    display: block;
    font-weight: 700;
    margin-bottom: .5625rem
}

.bg {
    -webkit-box-shadow: 0px 0px 1.25rem 0px rgba(51, 62, 72, .0509803922);
    box-shadow: 0px 0px 1.25rem 0px rgba(51, 62, 72, .0509803922);
    padding: var(--h-gap);
    -webkit-border-radius: .9375rem;
    border-radius: .9375rem;
    background-color: var(--white)
}

.c-red {
    color: var(--red)
}

.c-gray {
    color: var(--grey)
}

.link {
    font-weight: 700;
    border-bottom: 1px solid var(--red);
    color: var(--red)
}

input {
    font-family: inherit;
    border: 1px solid var(--bg);
    height: 3.125rem;
    width: 100%;
    font-weight: 600;
    -webkit-border-radius: .3125rem;
    border-radius: .3125rem;
    padding: 0 40px 0 1.25rem;
    color: var(--black);
    background-color: var(--bg);
    margin: 0
}

input:focus {
    border-color: var(--black)
}

input::-webkit-input-placeholder {
    color: var(--grey)
}

input::-moz-placeholder {
    color: var(--grey)
}

input:-ms-input-placeholder {
    color: var(--grey)
}

input::-ms-input-placeholder {
    color: var(--grey)
}

input::placeholder {
    color: var(--grey)
}

.m-0 {
    margin: 0 !important
}

.inp {
    position: relative;
    z-index: 1;
    gap: .625rem;
    margin-bottom: 1.25rem
}

.inp:last-of-type {
    margin-bottom: 0
}

.inp label {
    margin-bottom: .5625rem
}

.inp label i {
    color: var(--red)
}

.inp .ic-cencel {
    position: absolute;
    right: 1.25rem;
    bottom: .9375rem;
    z-index: 11;
    --s-width: -webkit-calc(20 / 16 * 1rem);
    --s-width: calc(20 / 16 * 1rem);
    cursor: pointer;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
    opacity: 0;
    visibility: hidden
}

.inp:focus-within input:not(:-moz-placeholder-shown)~.ic-cencel {
    opacity: 1;
    visibility: visible
}

.inp:focus-within input:not(:-ms-input-placeholder)~.ic-cencel {
    opacity: 1;
    visibility: visible
}

.inp:focus-within input:not(:placeholder-shown)~.ic-cencel {
    opacity: 1;
    visibility: visible
}

.inp input {
    margin: 0
}

.inp-check {
    position: relative;
    z-index: 1;
    margin-bottom: 31px
}

.inp-check label {
    font-weight: 500;
    font-size: .75rem;
    line-height: .9375rem;
    display: block;
    position: relative;
    text-align: left;
    z-index: 1;
    padding: 0 0 0 23px
}

.inp-check label::before {
    content: "";
    display: inline-block;
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: .9375rem;
    height: .9375rem;
    border: 1px solid var(--grey);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: 0% auto;
    -o-background-size: 0% auto;
    background-size: 0% auto;
    background-image: url("../media/check.svg")
}

.inp-check input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    cursor: pointer;
    height: 100%;
    z-index: 111
}

.inp-check input:checked~label::before {
    -webkit-background-size: 75% auto;
    -o-background-size: 75% auto;
    background-size: 75% auto;
    border-color: var(--red-action)
}

.inp-counter .--remove {
    -webkit-border-radius: .3125rem 0 0 .3125rem;
    border-radius: .3125rem 0 0 .3125rem
}

.inp-counter .--add {
    -webkit-border-radius: 0 .3125rem .3125rem 0;
    border-radius: 0 .3125rem .3125rem 0
}

.inp-counter .--remove,
.inp-counter .--add {
    font-weight: normal;
    font-size: 1.875rem;
    padding: 0;
    width: 3.125rem;
    height: 3.125rem
}

.inp-counter input {
    height: 3.125rem;
    width: 7.0625rem;
    text-align: center;
    padding: .625rem;
    -webkit-border-radius: 0;
    border-radius: 0
}

.inp-counter .link {
    margin-left: auto
}

.inp-wrap {
    gap: 2.5rem
}

.triple {
    gap: 1.25rem
}

.triple>* {
    width: -webkit-calc((100% - 40px)/3);
    width: calc((100% - 40px)/3);
    margin: 0
}

ul {
    list-style: none
}

ul.list {
    padding-left: 1.25rem
}

ul.list li {
    padding-left: 1.875rem;
    position: relative;
    z-index: 1;
    margin-bottom: .9375rem
}

ul.list li:last-child {
    margin-bottom: 0
}

ul.list li::before {
    content: "";
    display: block;
    width: .75rem;
    height: .75rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: var(--red);
    position: absolute;
    left: .25rem;
    top: .25rem
}

.select {
    position: relative
}

.select-list {
    overflow: hidden;
    -webkit-border-radius: .3125rem;
    border-radius: .3125rem;
    z-index: 111;
    position: absolute;
    top: 100%;
    margin-top: .625rem;
    width: 100%;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(0.625rem);
    -ms-transform: translateY(0.625rem);
    -o-transform: translateY(0.625rem);
    transform: translateY(0.625rem)
}

.select-list>* {
    padding: .625rem 1.25rem;
    background-color: var(--bg)
}

.select-selected {
    cursor: pointer;
    gap: .625rem;
    padding: .625rem;
    -webkit-border-radius: .3125rem;
    border-radius: .3125rem;
    border: 1px solid var(--white-stroke, #E4E4E4)
}

.select-selected span {
    margin-top: .125rem
}

.select-checked {
    gap: .6875rem
}

.select-checked>* {
    margin: 0
}

.select__btn {
    padding: .9375rem 1.25rem;
    -webkit-border-radius: .3125rem;
    border-radius: .3125rem;
    gap: 1.25rem;
    white-space: nowrap;
    color: var(--grey);
    background-color: var(--bg)
}

.select__btn.is_active~* {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0)
}

.checkbox {
    position: relative;
    z-index: 1
}

.checkbox label {
    position: relative;
    z-index: 1;
    font-weight: 700;
    line-height: 1rem;
    display: block;
    color: var(--black);
    padding: .1875rem 0 .0625rem 1.875rem;
    margin: 0
}

.checkbox label::after {
    content: "";
    display: block;
    width: 1.125rem;
    height: 1.125rem;
    -webkit-border-radius: .3125rem;
    border-radius: .3125rem;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid var(--black);
    --s-x: 1;
    --s-width: -webkit-calc(18 / 16 * 1rem);
    --s-width: calc(18 / 16 * 1rem)
}

.checkbox input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    cursor: pointer;
    height: 100%;
    z-index: 111
}

.checkbox input:not(:checked)~label::after {
    background-image: none
}

.checkbox input:checked~label::after {
    border-color: var(--red);
    background-color: var(--red)
}

.checkbox:hover {
    background-color: var(--white)
}

table {
    width: 100%
}

table i,
table span {
    vertical-align: middle
}

table a {
    display: inline-block
}

table a i {
    margin: 0;
    --s-width: -webkit-calc(28 / 16 * 1rem) !important;
    --s-width: calc(28 / 16 * 1rem) !important
}

table .fx-ac {
    gap: .625rem
}

table tr,
table th {
    text-wrap-style: pretty
}

table thead th {
    padding: var(--h-gap) -webkit-calc(var(--h-gap)/2);
    padding: var(--h-gap) calc(var(--h-gap)/2);
    border-bottom: 1px solid var(--white-stroke, #E4E4E4)
}

table thead th:first-child {
    text-align: left
}

table tr.heading td {
    padding: var(--h-gap) 0 -webkit-calc(var(--h-gap)/2);
    padding: var(--h-gap) 0 calc(var(--h-gap)/2)
}

table tr.headline td button {
    padding: -webkit-calc(var(--h-gap)/2);
    padding: calc(var(--h-gap)/2);
    text-align: left
}

table tr.headline td button i {
    min-width: 1.25rem
}

table tr.headline td:first-child {
    width: 32%;
    padding: 0
}

table tr.headline.is_active td,
table tr.headline:hover td {
    background-color: var(--bg)
}

table tr.headline.is_active td:first-child,
table tr.headline:hover td:first-child {
    -webkit-border-radius: .3125rem 0 0 .3125rem;
    border-radius: .3125rem 0 0 .3125rem
}

table tr.headline.is_active td:last-child,
table tr.headline:hover td:last-child {
    -webkit-border-radius: 0 .3125rem .3125rem 0;
    border-radius: 0 .3125rem .3125rem 0
}

table tr.content>*:first-child {
    padding: -webkit-calc(var(--h-gap)/2) 0 -webkit-calc(var(--h-gap)/2) 0;
    padding: calc(var(--h-gap)/2) 0 calc(var(--h-gap)/2) 0
}

table tr.content:not(.is_active) {
    display: none
}

table tbody td {
    font-weight: 500;
    text-align: center;
    padding: -webkit-calc(var(--h-gap)/2);
    padding: calc(var(--h-gap)/2);
    -webkit-transition: background .3s ease;
    -o-transition: background .3s ease;
    transition: background .3s ease
}

table tbody td:first-child {
    text-align: left
}

table.content {
    width: -webkit-calc(100% - 2.5rem);
    width: calc(100% - 2.5rem);
    margin: 0 0 0 auto
}

table.content td,
table.content th {
    background-color: var(--bg);
    padding: -webkit-calc(var(--h-gap)/2);
    padding: calc(var(--h-gap)/2);
    border: none
}

table.content thead th {
    text-align: center;
    padding: .9375rem 1.25rem .625rem
}

table.content thead th:first-child {
    -webkit-border-radius: .3125rem 0 0 0;
    border-radius: .3125rem 0 0 0;
    text-align: left
}

table.content thead th:last-child {
    text-align: left;
    -webkit-border-radius: 0 .3125rem 0 0;
    border-radius: 0 .3125rem 0 0
}

table.content tbody td {
    padding: .3125rem 1.25rem;
    width: 14.75%
}

table.content tbody td:first-child {
    width: 41%
}

table.content tbody td:last-child {
    text-align: left
}

table.content tfoot th {
    padding: .9375rem 1.25rem;
    -webkit-border-radius: 0 0 .3125rem .3125rem;
    border-radius: 0 0 .3125rem .3125rem
}

table#doc-list th {
    min-width: 15%
}

table.table-list td,
table.table-list th {
    word-break: break-word;
    padding: .921875rem .71875rem
}

table.table-list td:first-child,
table.table-list th:first-child {
    width: 12.5%
}

table.table-list .link {
    white-space: nowrap
}

@media screen and (max-width: 1720px) {
    html {
        font-size: 14px
    }

    :root {
        --h-gap: 1.37rem
    }

    input {
        padding: 0 1.75rem 0 .875rem
    }

    .inp .ic-cencel {
        right: .875rem
    }

    h2 {
        font-size: 1.625rem;
        line-height: 1.375rem
    }

    .bg {
        -webkit-border-radius: .75rem;
        border-radius: .75rem
    }
}

.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    width: 12.9375rem;
    min-width: 12.9375rem;
    background-color: var(--black);
    overflow: hidden;
    -webkit-transition: width ease .2s;
    -o-transition: width ease .2s;
    transition: width ease .2s
}

.navbar>* {
    padding: 1.25rem;
    border-bottom: 1px solid var(--stroke, #3A4752)
}

.navbar>*:last-child {
    border: none
}

.navbar>*>* {
    white-space: nowrap
}

.navbar>*>*:last-child {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s
}

.navbar>*:hover,
.navbar>*.is_active {
    opacity: 1;
    background-color: var(--darkened-black)
}

.navbar .logo {
    gap: 7px
}

.navbar .logo>* {
    -webkit-transition: max-width .3s ease;
    -o-transition: max-width .3s ease;
    transition: max-width .3s ease;
    max-width: 40%
}

.navbar .logo>*:last-child {
    max-width: 55%
}

.navbar__link {
    width: 100%;
    gap: .3125rem;
    color: var(--light-black);
    white-space: nowrap
}

.navbar__link>* {
    vertical-align: middle
}

.navbar__link span {
    padding: .1875rem 0 .0625rem;
    line-height: 1rem
}

.navbar.is_active {
    min-width: 5.5rem;
    width: 5.5rem
}

.navbar.is_active>*>* {
    margin: 0 auto
}

.navbar.is_active>*>*:last-child {
    opacity: 0;
    visibility: hidden;
    display: none
}

.navbar.is_active .logo>* {
    max-width: 100%
}

[data-theme=dark] .navbar {
    --black: #1A1A1A;
    --darkened-black: #394550;
    --stroke: #424242
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    z-index: 99999;
    background-color: rgba(51, 62, 72, .6);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    padding: 1.25rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: scroll;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
    opacity: 0;
    visibility: hidden
}

.modal-content {
    min-height: 6.25rem;
    display: block;
    background-color: var(--white);
    -webkit-transition: -webkit-transform ease .4s;
    transition: -webkit-transform ease .4s;
    -o-transition: -o-transform ease .4s;
    transition: transform ease .4s;
    transition: transform ease .4s, -webkit-transform ease .4s, -o-transform ease .4s;
    margin: auto !important;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-border-radius: .9375rem;
    border-radius: .9375rem;
    width: 100%;
    max-width: 22.81rem;
    padding: 1.875rem;
    -webkit-transform: translate(-50%, -40%);
    -ms-transform: translate(-50%, -40%);
    -o-transform: translate(-50%, -40%);
    transform: translate(-50%, -40%)
}

.modal-content.--md {
    max-width: 27.8125rem
}

.modal__heading {
    margin-bottom: 1.875rem;
    text-align: center
}

.modal-form .btn {
    margin: 1.875rem auto 0
}

.modal__close {
    position: absolute;
    color: var(--black);
    line-height: var(--h-gap);
    font-size: 2.5rem;
    width: 1.5rem;
    height: 1.5rem;
    font-weight: 300;
    top: .9375rem;
    right: .9375rem
}

.modal__close .ic {
    width: 1.5rem;
    height: 1.5rem
}

.modal.is_active {
    opacity: 1;
    visibility: visible
}

.modal.is_active>* {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.wrapper {
    min-height: 100vh;
    position: relative;
    z-index: 1
}

.wrapper .main {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 2.5rem 1.25rem
}

.sign {
    min-height: 100vh
}

.sign-img {
    width: 50%;
    min-height: 100%;
    position: relative;
    z-index: 1
}

.sign-img img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.sign-content {
    padding: 1.25rem;
    width: 50%;
    padding-bottom: 90px
}

.sign-header {
    width: 100%;
    margin-bottom: 2.5rem
}

.sign-box {
    width: 100%;
    max-width: 508px;
    margin: auto;
    padding: 1.875rem
}

.sign-box>*:last-child {
    margin-bottom: 0
}

.sign-box .inp:last-child {
    margin-bottom: 1.875rem
}

.sign-box .h4 {
    text-align: center
}

.sign-box .btn {
    margin: 1.875rem auto 0
}

.sign-box form {
    margin-bottom: 1.875rem
}

.sign-box .link {
    display: inline-block;
    margin-top: .3125rem
}

.pagination {
    gap: .6875rem;
    padding-top: var(--h-gap);
    margin-top: var(--h-gap);
    border-top: 1px solid var(--white-stroke, #E4E4E4)
}

.main {
    gap: var(--h-gap)
}

.main>* {
    margin: 0
}

.main-items {
    --gap: -webkit-calc(20 / 16 * 1rem);
    --gap: calc(20 / 16 * 1rem);
    --amaunt: 4;
    gap: var(--gap)
}

.main-item {
    width: -webkit-calc((100% - var(--gap)*(var(--amaunt) - 1))/var(--amaunt));
    width: calc((100% - var(--gap)*(var(--amaunt) - 1))/var(--amaunt))
}

.main-item__ic {
    width: 3.4375rem;
    height: 3.4375rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 0 0 1.25rem;
    background-color: var(--red)
}

.main-item__ic i {
    --s-width: 2rem
}

.main-item__heading {
    margin: 0 0 .625rem
}

.main-header {
    gap: var(--h-gap);
    padding-bottom: var(--h-gap);
    border-bottom: 1px solid var(--white-stroke, #E4E4E4)
}

.main-col {
    gap: var(--h-gap);
    min-width: 46%
}

.main-col>* {
    margin: 0
}

.main-search {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    gap: .625rem
}

.main-search .inp {
    width: 100%;
    margin: 0
}

.main-search input {
    height: 100%
}

.main-search .btn {
    min-width: unset;
    padding: .9375rem
}

.main-search .btn i {
    display: block
}

.main-text {
    gap: 1.25rem
}

.main-text>* {
    margin: 0
}

.main-docs {
    gap: 1.875rem
}

.main-docs>* {
    margin: 0
}

.main-list {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 50%
}

.main-list li {
    gap: 2.5rem;
    margin-bottom: .9375rem
}

.main-list li span {
    gap: .625rem
}

.main-list li:last-child {
    margin: 0
}

@media screen and (max-width: 1720px) {
    .main-items {
        --gap: -webkit-calc(16 / 16 * 1rem);
        --gap: calc(16 / 16 * 1rem)
    }

    .main-item__ic {
        width: 2.8125rem;
        height: 2.8125rem;
        margin-bottom: 1rem
    }

    .main-item__ic i {
        --s-width: -webkit-calc(22 / 16 * 1rem);
        --s-width: calc(22 / 16 * 1rem)
    }
}